/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.navbar {
	position: absolute;
	width: 100%;
	height: 70px;
	left: 0px;
	top: 0px;
	background-color:#FFF1D2;
	
}
.navbar .judul{
position: absolute;
width: 205px;
height: 52px;
left: 12px;
top: 0px;
line-height: 62px;
font-family: 'Pacifico';
font-size: 20px;
color : #666;
margin-left: 20px;
}

.navbar ul li {
	display: inline-block;
	float: right;
	margin: 10px;
	
}

.navbar li a {
	color : black;
	text-decoration: none;
	font-family:'Montserrat', 'Pacifico';
	font-size: 30px;
	line-height: 52px;
	padding-right: 10px;
	font-weight: bold;
}

.clear {
	clear: right;
}

li:first-child a{
	color : red;
	margin-right: 30px;
}

.background {
	width: 100%;
	height: 100%;
	background-image: url(logo2.png);
	background-position: center center;
	background-size: 770px 1048px;
	background-repeat: no-repeat;
	opacity: 50%;
	transform: rotate(21.13deg);
	position: absolute;
	z-index:-1;
	top: 0px;
	left: -30px;
}
.welcome {
	position: absolute;
	font-size:20px;
	font-family: 'Montserrat';
	width: 400px;
	height: 200px;
	top: 290px;
	left: 500px;
	padding : 10px;
	line-height:200px;
	background-color:#FFF1D2;
	opacity: 80%;
	border: 3px solid #FFF1D2;
	border-radius: 40px;
}

.navbar a:hover {
	background-color: white;
	padding: 4px;
	color: lightskyblue;
	border: 3px solid white;
	border-radius: 40px;
}

.navbar li:first-child a:hover {
	background-color: white;
	padding: 8px;
	color: red;
	border: 3px solid white;
	border-radius: 20px;
}

.konfirmasi {
	margin-top: 150px;
	margin-left: 100px;
	font-size : 30px;
	font-family: 'Montserrat';
	font-weight: bold;

}

.tabel {
	margin-top: 50px;
	margin-left: 100px;
	font-family: 'Montserrat';
}
 
.tabel tr, .tabel th, .tabel td {
	border: 1px solid black;
	padding-top: 8px;
	padding-bottom: 8px;
}

th, td {
	width : 150px;
}

tr:first-of-type {
	background-color :#B9B9B9;
	font-weight: bold;
}

.tambah {
	text-align: center;
	width: 200px;
	background-color: #FE9696;
	margin: 20px;
	padding: 8px;
	border: px solid #FE9696;
	border-radius: 10px;
	text-decoration: none;
}

.tambah a{
	text-decoration: none;
}
.bayar {
	color : black;
	text-align: center;
	background-color: #FE9696;
}
.bayar a{
	text-decoration: none;
}

.kotak13 {
	background-color:#B9B9B9;
	width: 667px;
	height: 453px;
	margin-left: 66px;
	margin-top: 235px;
}
